

.container{
    background-color: goldenrod;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        max-width: 100%;
       
        
    
    }   
}
.link{
    text-decoration: none;
    color: white;   
}

.itemCard{
    margin: 5px;
}
